<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginSevlet</servlet-name>
        <servlet-class>controller.LoginSevlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpSevlet</servlet-name>
        <servlet-class>controller.SignUpSevlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeSevlet</servlet-name>
        <servlet-class>controller.HomeSevlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategorySelectServlet</servlet-name>
        <servlet-class>controller.CategorySelectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>controller.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailServlet</servlet-name>
        <servlet-class>controller.DetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>controller.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>controller.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCartServlet</servlet-name>
        <servlet-class>controller.DeleteCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartServlet</servlet-name>
        <servlet-class>controller.UpdateCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyNowServlet</servlet-name>
        <servlet-class>controller.BuyNowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThankServlet</servlet-name>
        <servlet-class>controller.ThankServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AboutServlet</servlet-name>
        <servlet-class>controller.AboutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerServlet</servlet-name>
        <servlet-class>controller.ManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductServlet</servlet-name>
        <servlet-class>controller.DeleteProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductServlet</servlet-name>
        <servlet-class>controller.AddProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProductServlet</servlet-name>
        <servlet-class>controller.EditProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckEditProductServlet</servlet-name>
        <servlet-class>controller.CheckEditProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddformProductServlet</servlet-name>
        <servlet-class>controller.AddformProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerOrder</servlet-name>
        <servlet-class>controller.ManagerOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditOrderSevlet</servlet-name>
        <servlet-class>controller.EditOrderSevlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteOrder</servlet-name>
        <servlet-class>controller.DeleteOrder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginSevlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpSevlet</servlet-name>
        <url-pattern>/SignUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeSevlet</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategorySelectServlet</servlet-name>
        <url-pattern>/categoryselect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailServlet</servlet-name>
        <url-pattern>/Detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/addtocart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/carts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCartServlet</servlet-name>
        <url-pattern>/deletecart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartServlet</servlet-name>
        <url-pattern>/updatecart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyNowServlet</servlet-name>
        <url-pattern>/buynow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThankServlet</servlet-name>
        <url-pattern>/thank</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AboutServlet</servlet-name>
        <url-pattern>/about</url-pattern>
    </servlet-mapping>
    <filter-mapping>
        <filter-name>CheckloginFilter</filter-name>
        <url-pattern/>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthorFilter</filter-name>
        <url-pattern/>
    </filter-mapping>
    <servlet-mapping>
        <servlet-name>ManagerServlet</servlet-name>
        <url-pattern>/admin/managerproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductServlet</servlet-name>
        <url-pattern>/admin/deleteproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductServlet</servlet-name>
        <url-pattern>/admin/addproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProductServlet</servlet-name>
        <url-pattern>/admin/editproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckEditProductServlet</servlet-name>
        <url-pattern>/admin/checkeditproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddformProductServlet</servlet-name>
        <url-pattern>/admin/addformproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerOrder</servlet-name>
        <url-pattern>/admin/managerorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditOrderSevlet</servlet-name>
        <url-pattern>/admin/editorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteOrder</servlet-name>
        <url-pattern>/admin/deleteorder</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
