*{
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
    transition: 5s;
}
.navbar-main{
    width: 100%;
    height: 80px;
}
.navbar{
    width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 100px;
    cursor: pointer;
}
.navbar ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
.navbar ul li a{
    color: #626262;
    margin-right: 30px;
    text-decoration: none;
    cursor: pointer;
    font-weight: 500;
}
/*.icon{
    width: 20%;
}*/
.icon ion-icon{
    font-size: 18px;
    cursor: pointer;
    margin-right: 10px;
}
.icon ion-icon:hover{
    color: #bb121c;
}
.container-fluid{
    width: 100%;
    height: 600px;
    background-color: #c6333f;
    background-image: url("../images/sale.png");
    background-size: cover;
}
.container{
    width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
}
.container img{
    margin-left: 700px;
    margin-top: 50px;
}
.deal-main{
    width: 100%;
    height: 550px;
    padding: 50px 0px;
    text-align: center;
}
.deal{
    width: 1200px;
    height: 100%;
    margin: auto;
}
.deal h1{
    color: #333;
    font-weight: 500;
    font-size: 40px;
}
.deal .row{
    width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.deal .row .box{
    width: 280px;
    height: 400px;
    background: url(../images/girl1.jpg);
    background-size: cover;
    text-align: center;
    justify-content: center;
    display: flex;
}
.deal .row .box:nth-child(2){
    background: url(../images/girl2.jpg)
}
.deal .row .box:nth-child(3){
    background: url(../images/girl3.jpg)
}
.deal .row .box:nth-child(4){
    background: url(../images/girl4.jpg)
}
.deal .info{
    width: 200px;
    height: 100px;
    background: #fff;
    margin-top: 280px;
}
.deal .info h4{
    padding-top: 20px;
    color: #555;
    font-weight: 500;
}
.deal .info h3{
    padding-top: 5px;
    color: #712;
    font-weight: 500;
}
.product-main{
    width: 100%;
    height: 550px;
    padding: 50px 0px;
    text-align: center;
}
.product{
    width: 1200px;
    height: 100%;
    margin: auto;
}
.product h1{
    color: #333;
    font-weight: 500;
    font-size: 40px;
}
.product .row{
    width: 1200px;
    height: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product .row .box{
    width: 280px;
    height: 400px;
    text-align: center;
    justify-content: center;
    display: flex;
    border: 1px solid #e8ebeb;
}
.product .row .box:hover .sit{
    transform: scale(1.1);
}
.product button{
    width: 200px;
    height: 55px;
    border: none;
    background-color: #b7121c;
    color: #fff;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}
.product button:hover{
    background-color: transparent;
    border: 1px solid #b7121c;
    color: #b7121c;
}